body {
    background-color: black;
}


img{
    position:absolute;
    opacity: 0;
}
.mapbg{
    position: absolute;
width: 1245.32px;
height: 1025.63px;
left: 97.34px;
top: 0px;
opacity: 1;
}

.flushing1{
    position: absolute;
width: 265.37px;
height: 169.54px;
left: 632.77px;
top: 214.61px;

}

.flushing2{
    position: absolute;
width: 372.54px;
height: 209.56px;
left: 132.15px;
top: 757.94px;

}

.flushing3{
    position: absolute;
width: 290.96px;
height: 385.41px;
left: 966.42px;
top: 344.04px;
}

.flushing4{
    position: absolute;
width: 341.44px;
height: 192.06px;
left: 942.66px;
top: 775.44px;

}

.flushing5{
    position: absolute;
width: 335.49px;
height: 230.46px;
left: 132.15px;
top: 355px;
}


img:hover{
    opacity: 1;
}