
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Copperplate;
    background: url("background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}


@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Indie+Flower&family=Montserrat+Alternates:wght@200&family=PT+Mono&family=Poiret+One&display=swap');


p:hover {
    margin: 70px 110px 80px 90px;
    text-shadow:
        1px 1px 0 #aaa,
        2px 2px 0 #bbb,
        3px 3px 0 #bbb,
        4px 4px 0 #bbb,
        13px 13px 35px #888,
        13px 13px 20px #444;}

        html, body {
            height: 100%;
            font-weight: 800;
        }
        body {
            background-size: cover;
            font-family: Arial;
        }
        svg {
            display: block;
            font: 5em 'Montserrat Alternates', sans-serif;
            width: 960px;
            height: 300px;
            margin: 0 auto;
        }
        .text-copy {
            fill: none;
            stroke: white;
            stroke-dasharray: 6% 29%;
            stroke-width: 5px;
            stroke-dashoffset: 0%;
            animation: stroke-offset 5s infinite linear;
        }
        .text-copy:nth-child(1) {
            stroke: #5c0404;
            animation-delay: -1s;
        }
        .text-copy:nth-child(2) {
            stroke: #ff0000;
            animation-delay: -2s;
        }
        .text-copy:nth-child(3) {
            stroke: #fc7100;
            animation-delay: -3s;
        }
        .text-copy:nth-child(4) {
            stroke: #ff590c;
            animation-delay: -4s;
        }
        .text-copy:nth-child(5) {
            stroke: #e46e6a;
            animation-delay: -5s;
        }
        @keyframes stroke-offset {
            100% { stroke-dashoffset: -35%;}
        }

.textOverImage{
    width:250px;
    height:200px;
    display:inline-block;
    background-size:cover;
    border-radius:4px;
    margin:4px;
    position:relative;
    cursor:pointer;
    overflow:hidden;
    font-family: Copperplate;
  }
  
  .textOverImage > input{
    display:none;
  }
  
  .textOverImage > div,.textOverImage > h2{
    position:absolute;
    background-color:rgb(255, 179, 64);
    bottom:20px;
    left:4px;
    right:4px;
    border-radius:4px;
    padding:8px;
    overflow:hidden;
    opacity:0;
    transition:.3s;
  }
  
  .textOverImage:hover > h2,.textOverImage > input:checked + h2 + div{
    bottom:4px;
    opacity:1;
  }
  
  .textOverImage > input:checked + h2{
    bottom:-20px;
    opacity:0;
  }
  
  .textOverImage > h2{
    margin:0;
  }

  #cf {
    position:relative;
    height:281px;
    width:450px;
    margin:0 auto;
  }
  
  #cf img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  
  #cf img.top:hover {
    opacity:0;
  }

  .page1button{
    position:absolute; 
    width: 231.41px;
    height:65.73px;
    left:1097.59px;
    top:2850.58px;

  }